/*
.lato-black-italic {
  font-family: "Lato", serif;
  font-weight: 900;
  font-style: italic;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

.cabin-<uniquifier> {
  font-family: "Cabin", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.tenor-sans-regular {
  font-family: "Tenor Sans", serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}


*/

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Lato", serif;
  color: white;
}

.header {
}
.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
.header-wrapper {
}

.first-header {
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
  font-size: 14px;
}

.first-header-wrapper {
  background-color: #181818;
}
.day-of-the-week {
}
.day-of-the-week-img {
  margin-right: 10px;
}
.day-of-the-week__item {
}
.address {
}
.address__img {
  margin-right: 10px;
}
.address__item {
}
.socials {
  display: flex;
  gap: 25px;
}
.socials-item {
}
.second-header {
}
.second-header-wrapper {
  background-color: #1b1b1b;
}
.container {
}
.second-header {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  align-items: center;
  font-size: 18px;
}
.logo-wrapper {
}
.logo {
}
.logo-text {
  margin-left: 11px;
  font-family: "Cabin", serif;
  font-size: 30px;
}
.second-header__list {
  display: flex;
}

.dott:hover {
  cursor: pointer;
}
.dott {
  height: 9px;
  margin-top: 6px;
  margin-right: 8px;
}
.second-header__list-wrapper:hover .second-header__list-item {
  cursor: pointer;
}

.second-header__list-wrapper:hover {
  border: yellow solid 1px;
  color: yellow;
}

.second-header__list-wrapper {
}

.second-header__list-item:not(:last-child) {
}
.second-header__number {
  background-color: white;
}
.number-img {
  margin-right: 11px;
}

.second-header__number {
  display: flex;
  align-items: center;
  color: black;
  padding: 8px 0;
  padding-left: 10px;
  padding-right: 41px;
  border-radius: 42px;
  font-weight: 500;
}

/* Исходный стиль текста */
.second-header__list-item {
  margin-right: 30px;
}
/* Стиль текста после изменения */
.second-header__list-item.active {
  color: green; /* Укажите нужный цвет */
}

.bg-container {
  background-image: url(../img/maun-bg.png);
  height: 783px;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-for-text {
  height: 395px;
  width: 551px;
  background-color: rgba(255, 255, 255, 0.881);
  border-radius: 29px;
}

.bg-container {
  padding-top: 194px;
  padding-left: 10px;
}

.bg-for-text-description {
  padding: 55px 58px;
  color: black;
}
.bg-for-text-title {
  font-size: 50px;
  font-family: "Cabin", serif;
  font-weight: bold;
  line-height: 116%;
  margin-bottom: 19px;
}
.bg-for-text-subdescription {
  line-height: 147%;
}

.buttons {
  color: black;
  margin-left: 58px;
  font-size: 18px;
  font-weight: 600px;
}

.first-button {
  background-color: #181818;
  color: white;
  padding: 16px 33px;
  border-radius: 42px;
  border: solid #181818 1px;
  transition: 0.5s ease;
}

.first-button:hover {
  background-color: white;
  color: #181818;
}

button.second-button img {
  vertical-align: middle;
}

.second-button {
  background-color: white;
  padding: 8px 10px;
  border-radius: 42px;
  margin-left: 13px;
  transition: 0.5s ease;
}

.second-button:hover {
  color: white;
  background-color: #181818;
}

.cliemt-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 132px;
  align-items: center;
  justify-items: center;
  row-gap: 30px;
  margin-top: 30px;
}

.client {
}
.container {
}
.cliemt-wrapper {
}
.about-us {
  color: black;
  margin-top: 127px;
}
.about-us-wrapper {
  width: 420px;
}
.about-us-head {
  background-color: #ffcc4a;
  padding: 0 12px;
  width: 104px;
  text-transform: uppercase;
  border-radius: 20px;
}
.about-us-title {
  font-size: 45px;
  font-weight: bold;
  line-height: 116%;
  margin-top: 22px;
  margin-bottom: 18px;
}
.about-us-description {
  font-size: 18px;
  line-height: 147%;
  margin-bottom: 11px;
}
.about-us-subdescription {
  margin-bottom: 55px;
}
.services-and-customers {
}
.services-and-customers-wrapper {
  display: flex;
}
.services {
  background-color: #f6f6f6;
  text-align: center;
  margin-right: 20px;
  padding: 16px 23px;
  border-radius: 15px;
}
.services-title {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customers {
  text-align: center;
  background-color: #f6f6f6;
  padding: 16px 23px;
  border-radius: 15px;
}
.customers-title {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.verticle-line {
  height: 90px;
  width: 1px;
  background-color: #d8d8d8;
  margin-right: 20px;
}

.horizontal-line1 {
  width: 380px;
  background-color: #d8d8d8;
  height: 1px;
  margin-bottom: 17px;
}

.horizontal-line2 {
  width: 380px;
  background-color: #d8d8d8;
  height: 1px;
  margin-top: 17px;
}

.about-us-with-img {
  display: flex;
  position: relative;
}

.first-image {
  position: absolute;
  z-index: 1;
  left: 485px;
  top: 136px;
}
.second-image {
  position: absolute;
  z-index: 3;
  left: 526px;
  top: 281px;
}
.third-iamge {
  position: absolute;
  z-index: 2;
  left: 586px;
}

.control {
  padding-top: 170px;
  margin-top: 174px;
  background-color: #f5f5f5;
  position: relative;
}
.container {
}
.control-wrapper {
  color: black;
  display: flex; /* Включаем флексбокс */
  flex-direction: column; /* Располагаем элементы вертикально */
  align-items: center; /* Центрируем элементы по горизонтали */
}
.control-services {
  background-color: #4eaf4e;
  width: 120px;
  text-align: center;
  border-radius: 20px;
  text-transform: uppercase;
  color: white;
}
.control-title {
  text-align: center;
  width: 781px;
  font-family: "Cabin", serif;
  font-weight: bold;
  font-size: 45px;
  margin-top: 8px;
  margin-bottom: 38px;
}
.control-elements {
  display: grid;
  font-family: "Cabin", serif;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.control-element {
  width: 387px;

  background-color: #ebebeb;
  border-radius: 20px;
  padding: 48px 48px;
}

.control-element:hover {
  width: 387px;
  background-color: #181818;
  color: white;
  border-radius: 20px;
  padding: 48px 48px;
}
.control-img {
}
.control-element-title {
  font-size: 25px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 10px;
}
.steps-and-experience {
  margin-top: 150px;
}
.container {
}
.steps-and-experience__wrapper {
  color: #1b1b1b;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.steps {
  width: 572px;
}
.process {
  background-color: #4eaf4e;
  width: 110px;
  padding: 0 15px;
  border-radius: 20px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 16px;
}
.steps__title {
  font-size: 45px;
  font-weight: bold;
}
.steps-description {
  margin-top: 16px;
  line-height: 147%;
}
.steps_list {
}
.steps_list-item {
  display: flex;

  margin-top: 28px;
}
.years {
  width: 562px;
}
.growing {
  background-color: #ffcc4a;
  width: 264px;
  text-transform: uppercase;
  padding: 0 17px;
  border-radius: 20px;
}
.years__title {
  font-size: 45px;
  font-weight: bold;
  margin-top: 8px 0;
}
.years__description1 {
  line-height: 147%;
  margin-bottom: 32px;
}
.years__description2 {
  line-height: 147%;
}
.advantages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.advantages-item {
  background-color: #ece9e9;
  padding: 33px 23px;
  border-radius: 20px;
}

.steps_list-item-img {
  background-color: #ffcc4a;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  padding-top: 10px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}
.steps_list-item-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.steps_list-item-description {
  width: 331px;
}
.title-with-description {
  padding-left: 16px;
}

.steps_list-line {
  background-color: #c1c1c1;
  width: 459px;
  height: 1px;
  margin-top: 40px;
}

.yellow {
  background-color: #ffcc4a;
}

.green {
  background-color: #4eaf4e;
  color: white;
}

.dark {
  background-color: #181818;
  color: white;
}

.advantages-item__img {
  margin-bottom: 22px;
}
.advantages-item__title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}
.advantages-item__description {
}

.bg {
  background: linear-gradient(rgba(0, 0, 0, 0.549), rgba(0, 0, 0, 0.549)),
    url(../img/Background.png);
  height: 645px;
  margin-top: 152px;
  padding-top: 202px;
}
.market {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.process-and-title {
}
.process {
}
.process__title {
  font-size: 45px;
  font-weight: bold;
  width: 731px;
}
.more-gallery {
  padding: 16px 32px;
  background-color: #ffcc4a;
  border-radius: 42px;
  color: black;
  font-weight: bold;
}

.statistics {
}
.statistics__wrapper {
  background-color: #fafafa;
  height: 763px;
  margin-top: 45px;
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.statistics {
  color: #181818;
  margin-top: 54px;
}
.container {
}
.statistics-sub-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 135px;
}
.statistics-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statistics-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 12px;
  font-family: "Cabin", serif;
}
.statistics-description {
  font-size: 18px;
}

.statisctics-item {
  background-image: url(../img/statisctics2.png);
  width: 366px;
  height: 344px;
  transition: filter 1s;
}

.statisctics-item:hover .statistics-overlay {
  opacity: 1;
}

.statistics-overlay {
  position: relative;
  opacity: 0;
}

.img-overlay {
  position: absolute;
  left: 281px;
  top: 23px;
  z-index: 2;
}

.statistics-overlay-title {
  font-size: 25px;
  font-weight: 600;
}
.statistics-overlay-description {
}

.title-and-description {
  position: absolute;
  top: 263px;
  left: 25px;
}

.feedback {
  margin-top: 783px;
}
.feedback-container {
  width: 654px;
  margin: 0 auto;
}
.feedback-wrapper {
}
.feedback-client {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #181818;
  text-align: center;
  justify-content: center;
}
.title {
  background-color: #4eaf4e;
  padding: 0 16px;
  border-radius: 20px;
  text-transform: uppercase;
  color: white;
}
.feedback-description {
  font-size: 40px;
  font-weight: bold;
}
.name {
  font-size: 20px;
  font-weight: 600;
  margin-top: 27px;
margin-bottom: 7px;}
.job {
  color: #4eaf4e;
}

.feedbacl-img {
  display: flex;
  justify-content: center;
  width: 654px;
}

.swiper{
  position: relative;
}

.left-arrow {
  color: #181818;
}
.right-arrow {
  color: #181818;
}

.swiper.feedback-container{
}

.left-arrow {
  display: flex;
  align-items: center;
  top: 300px; /* Центр по вертикали */
  left: 10px; /* Расстояние от левого края */
  transform: translateY(-50%)
}
.right-arrow{
  display: flex;
  align-items: center;
  top: 300px; /* Центр по вертикали */
  right: 10px; /* Расстояние от правого края */
  transform: translateY(-50%);
}

.left-arrow,.right-arrow  {
  width: 43px; /* Установите фиксированную ширину */
  height: 43px; /* Установите фиксированную высоту */
  object-fit: contain; /* Убедитесь, что изображение сохраняет пропорции */
  position: absolute;
  z-index: 10;  
}

.swiper-button-disabled{
  filter: brightness(70%);
}

.consult {
  margin-top: 93px;
}
.consult-wrapper {
  background-color: #181818;
  display: flex;
  gap: 73px;
  border-radius: 30px;
}
.consult-left {
  padding-top: 115px;
  width: 423px;
  margin-left: 90px;
}
.book-now {
  background-color: #4eaf4e;
  padding: 0 15px;
  border-radius: 20px;
  text-transform: uppercase;
}
.consult-title {
  margin-top: 8px;
  font-size: 45px;
  font-weight: bold;
}
.consult-description {
}
.consult-number {
  background-color: #ffcc4a;
  padding: 16px 21px;
  margin-top: 21px;
  width: 193px;
  border-radius: 42px;
  display: flex;
  align-items: center;
  color: #181818;

}
.phone-img {
}
.phone-text {
  font-size: 18px;
  font-weight: 600;
}
.consult-right {
}

.articles {
  margin-top: 185px;
  padding-top: 178px;
  background-color: #F5F5F5;
}
.container {
}
.articles-wrapper {
}
.title-with-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 46px;
}
.articles-title {
}
.blog {
  background-color: #4eaf4e;
  padding: 1px 12px;
  border-radius: 20px;
}
.blog-title {
  color: #181818;
  font-size:45px;
  font-weight: bold;
  width: 507px;
}
.articles-btn {
  display: flex;
  background-color: #ffcc4a;
  height: 61px;
  align-items: center;
  padding: 0 37px;
  border-radius: 42px;
  color: #181818;
  font-size: 18px;
  font-weight: 600;

}

.agile{
  background-color: #F5F5F5;
  padding-bottom: 178px;
}

.first-block {
  width: 583px;
  color: #181818;
}
.agile-title {
  font-size: 30px;
  font-weight: 600;
  margin-top: 28px;
  margin-bottom: 12px;
}
.agile-description {
}
.author {
  display: flex;
  align-items: center;
}
.author-name {
}
.author-full-name {
  margin-left: 8px;
  margin-right: 22px;
}
.agile-date {
  margin-left: 22px;
}
.agile-btn {
  margin-left: 85px;
  padding: 16px 40px;
  background-color: #181818;
  color: white;
  border-radius: 42px;
  font-size: 18px;
  font-weight: 500;
}

.horizontal-line-1{
  width:582px;
  height: 1px;
  background-color: #c1c1c1;
  margin-bottom: 14px;
  margin-top: 10px;
}
.second-block {
}

.horizontal-line-2{
  width:582px;
  height: 1px;
  background-color: #c1c1c1;
  margin-top: 14px;
}

.agile-wrapper{
  display: flex;
  justify-content: space-between;
}