/*
.lato-black-italic {
  font-family: "Lato", serif;
  font-weight: 900;
  font-style: italic;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

.cabin-<uniquifier> {
  font-family: "Cabin", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.tenor-sans-regular {
  font-family: "Tenor Sans", serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}


*/

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Lato", serif;
  color: white;
}

.header {
}
.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
.header-wrapper {
}

.first-header {
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
  font-size: 14px;
}

.first-header-wrapper {
  background-color: #181818;
}
.day-of-the-week {
}
.day-of-the-week-img {
  margin-right: 10px;
}
.day-of-the-week__item {
}
.address {
}
.address__img {
  margin-right: 10px;
}
.address__item {
}
.socials {
  display: flex;
  gap: 25px;
}
.socials-item {
}
.second-header {
}
.second-header-wrapper {
  background-color: #1b1b1b;
}
.container {
}
.second-header {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  align-items: center;
  font-size: 18px;
}
.logo-wrapper {
}
.logo {
}
.logo-text {
  margin-left: 11px;
  font-family: "Cabin", serif;
  font-size: 30px;
}
.second-header__list {
  display: flex;
}

.dott:hover{
    cursor: pointer;
}
.dott {
  height: 9px;
  margin-top: 6px;
  margin-right: 8px;
}
.second-header__list-wrapper:hover .second-header__list-item {
  cursor: pointer;
}



.second-header__list-wrapper:hover{
    border: yellow solid 1px;
    color: yellow;
}

.second-header__list-wrapper {
}

.second-header__list-item:not(:last-child) {
}
.second-header__number {
  background-color: white;
}
.number-img {
  margin-right: 11px;
}

.second-header__number {
  display: flex;
  align-items: center;
  color: black;
  padding: 8px 0;
  padding-left: 10px;
  padding-right: 41px;
  border-radius: 42px;
  font-weight: 500;
}

/* Исходный стиль текста */
.second-header__list-item {
  margin-right: 30px;
}
/* Стиль текста после изменения */
.second-header__list-item.active {
  color: green; /* Укажите нужный цвет */
}


.bg-container{
    background-image: url(../img/maun-bg.png);
    height: 783px;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-for-text{
    height: 395px;
    width: 551px;
    background-color: rgba(255, 255, 255, 0.881);
    border-radius: 29px;
}

.bg-container{
    padding-top: 194px;
    padding-left: 10px;
}


.bg-for-text-description{
    padding: 55px 58px;
    color:black
}
.bg-for-text-title {
    font-size: 50px;
    font-family: "Cabin", serif;
    font-weight: bold;
    line-height: 116%;
    margin-bottom: 19px;
}
.bg-for-text-subdescription {
    line-height: 147%;
}

.buttons{
    color: black;
    margin-left: 58px;
    font-size: 18px;
    font-weight: 600px;
}

.first-button{
    background-color: #181818;
    color: white;
    padding: 16px 33px;
    border-radius: 42px;
    border: solid #181818 1px;
    transition: 0.5s ease;
}

.first-button:hover{
    background-color: white;
    color: #181818;
}

button.second-button img{
    vertical-align: middle;
}

.second-button{
    background-color: white;
    padding: 8px 10px;
    border-radius: 42px;
    margin-left: 13px;
    transition: 0.5s ease;
}

.second-button:hover{
    color:white;
    background-color: #181818;
}

.cliemt-wrapper{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 132px;
    align-items: center;
    justify-items: center;
    row-gap: 30px;
    margin-top: 30px;
}

.client {
}
.container {
}
.cliemt-wrapper {
}
.about-us {
    color: black;
    margin-top: 127px;
}
.about-us-wrapper {
    width: 420px;
}
.about-us-head {
    background-color: #FFCC4A;
    padding: 0 12px;
    width: 104px;
    text-transform: uppercase;
    border-radius: 20px;
}
.about-us-title {
    font-size: 45px;
    font-weight: bold;
    line-height: 116%;
    margin-top: 22px;
    margin-bottom: 18px;

}
.about-us-description {
    font-size: 18px;
    line-height: 147%;
    margin-bottom: 11px;
}
.about-us-subdescription {
    margin-bottom: 55px;
}
.services-and-customers {
}
.services-and-customers-wrapper {
    display: flex;
}
.services {
    background-color: #F6F6F6;
    text-align: center;
    margin-right: 20px;
    padding: 16px 23px;
    border-radius: 15px;
    
}
.services-title {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.customers {
    text-align: center;
    background-color: #F6F6F6;
    padding: 16px 23px;
    border-radius: 15px;
}
.customers-title {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.verticle-line{
    height: 90px;
    width: 1px;
    background-color: #D8D8D8;
    margin-right: 20px;
}

.horizontal-line1{
    width: 380px;
    background-color: #D8D8D8;
    height: 1px;
    margin-bottom: 17px;
}

.horizontal-line2{
    width: 380px;
    background-color: #D8D8D8;
    height: 1px;
    margin-top: 17px;
}

.about-us-with-img{
    display: flex;
    position: relative;
}

.first-image {
    position: absolute;
    z-index: 1;
    left: 485px;
    top: 136px;
}
.second-image {
    position: absolute;
    z-index: 3;
    left: 526px;
    top: 281px;
}
.third-iamge {
    position: absolute;
    z-index: 2;
    left: 586px;
}

.control {
  padding-top: 170px;
  margin-top: 174px;
  background-color: #F5F5F5;
  position: relative;
}
.container {
}
.control-wrapper {
  color: black;
  display: flex; /* Включаем флексбокс */
  flex-direction: column; /* Располагаем элементы вертикально */
  align-items: center; /* Центрируем элементы по горизонтали */
}
.control-services {
  background-color: #4EAF4E;
  width: 120px;
  text-align: center;
  border-radius: 20px;
  text-transform: uppercase;
  color: white;
}
.control-title {
  text-align: center;
  width: 781px;
  font-family: "Cabin", serif;
  font-weight: bold;
  font-size: 45px;
  margin-top: 8px;
  margin-bottom: 38px;
}
.control-elements {
  display: grid;
  font-family: "Cabin", serif;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.control-element {
  width: 387px;
  
  background-color: #EBEBEB;
  border-radius: 20px;
  padding: 48px 48px;
}

.control-element:hover {
  width: 387px;
  background-color: #181818;
  color: white;
  border-radius: 20px;
  padding: 48px 48px;
}
.control-img {
}
.control-element-title {
  font-size: 25px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 10px;
}
.steps-and-experience {
  margin-top: 150px;
}
.container {
}
.steps-and-experience__wrapper {
  color: #1b1b1b;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.steps {
  width: 572px;
}
.process {
  background-color: #4EAF4E;
  width: 110px;
  padding: 0 15px;
  border-radius: 20px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 16px;
}
.steps__title {
  font-size: 45px;
  font-weight: bold;
}
.steps-description {
  margin-top: 16px;
  line-height: 147%;
}
.steps_list {
}
.steps_list-item {
  display:flex;

  margin-top: 28px;
}
.years {
  width: 562px;
}
.growing {
  background-color: #FFCC4A;
  width: 264px;
  text-transform: uppercase;
  padding: 0 17px;
  border-radius: 20px;
}
.years__title {
  font-size: 45px;
  font-weight: bold;
  margin-top: 8px 0;
}
.years__description1 {
  line-height: 147%;
  margin-bottom: 32px;
}
.years__description2 {
  line-height: 147%;
}
.advantages {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:15px;
}
.advantages-item {
  background-color: #ece9e9;
  padding: 33px 23px;
  border-radius: 20px;
}

.steps_list-item-img {
  background-color: #FFCC4A;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  padding-top: 10px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}
.steps_list-item-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.steps_list-item-description {
  width: 331px;
}
.title-with-description{
  padding-left: 16px;
}

.steps_list-line{
  background-color: #C1C1C1;
  width: 459px;
  height: 1px;
  margin-top: 40px;
}

.yellow{
  background-color: #FFCC4A;
}

.green{
  background-color: #4EAF4E;
  color: white;
}

.dark{
  background-color: #181818;
  color: white;
}

.advantages-item__img {
  margin-bottom: 22px;
}
.advantages-item__title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}
.advantages-item__description {
}